@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  background-color: $body_color;
  color: $white_color;
}

a{
  text-decoration: none;
}

@media (max-width: 1200px) {
  html {
      font-size: 90%;
  }
}
@media (max-width: 500px) {
  html {
      font-size: 80%;
  }
}
@media (max-width: 400px) {
  html {
      font-size: 70%;
  }
}
@media (max-width: 300px) {
  html {
      font-size: 54%;
  }
}